.js-style {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: roll 1s ease-in-out infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #2200ff transparent;
}

@keyframes roll {
    0% {
        transform: translateX(-150%) rotate(0deg);
    }

    100% {
        transform: translateX(150%) rotate(360deg);
    }
}

.card-info {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(1, 1, 37);
    font-family: Verdana;
    font-size: 12;
    border: 2px solid rgb(158, 237, 234);
    border-radius: 2px;
    box-shadow: 2px 2px 4px 1px rgba(124, 62, 62, 0.227),
        2px 1px 1px 0px rgba(0, 0, 0, 0.14), 2px 2px 1px -1px rgba(0, 0, 0, 0.12);




}

.cat-info {
    display: flex;
    padding-top: 20px;



}

.photo {
    box-shadow: 10px 10px 10px rgb(136, 193, 231);

}

